@inherits LayoutComponentBase

<PageTitle>Applied My Web App</PageTitle>

<div class="page">
    
    
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-5">
            <a href="https://jahangir.com/" target="_blank">My App</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
